<aside class="menu-sidebar d-none d-lg-block" >
            <div class="logo">
                <a href="#">
                    <img src="/images/logo.png" alt="Sungla" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="/Admin">
                                <i class="fas fa-tachometer-alt"></i>پنل ادمین</a>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>مدیریت کاربران</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/Admin/Roles">دسترسی ها </a>
                                </li>
                                <li>
                                    <a href="/Admin/Users">کاربران </a>
                                </li>
                                <li>
                                    <a href="/Admin/Users/ListDeleteUsers">کاربران حذف شده </a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-file-archive"></i>مدیریت دوره ها</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/Admin/Courses">دوره ها </a>
                                </li>
                                <li>
                                    <a href="/Admin/Discount/">تخفیف ها </a>
                                </li>
                                <li>
                                    <a href="/Admin/CourseGroups"> گروه ها</a>
                                </li>
                               
                            </ul>
                        </li>
                       
                    </ul>
                </nav>
            </div>
        </aside>