@{
    ViewData["Title"] = "نتیجه پرداخت";
}

<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto mt-5">
                <div class="payment">
                    @if (ViewBag.IsSuccess == true)
                    {
                        <div class="payment_header_success">
                            <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
                        </div>
                        <div class="content">
                            <h2>پرداخت با موفقیت انجام شد</h2>
                            <p>کد پیگیری:@ViewBag.Code</p>

                        </div>
                    }
                    else
                    {
                        <div class="payment_header_faild">
                            <div class="check"><i class="fa fa-warning" aria-hidden="true"></i></div>
                        </div>
                        <div class="content">
                            <h2>پرداخت با شکست مواجه شد</h2>
                            <p>کد پیگیری:@ViewBag.Code</p>
                        </div>
                    }



                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/CustomOnlinePayment.css"/>
